anguage: cpp
compiler:
  - gcc
install:
  - sudo apt-add-repository -y ppa:canonical-qt5-edgers/qt5-proper
  - sudo apt-get update
  - sudo apt-get install qtdeclarative5-dev
# Change this to your needs
env: QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
script:
  - /usr/lib/x86_64-linux-gnu/qt5/bin/qmake -v
# Build application 
  - cd Src/App
  - /usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  - make
# Build and run tests
  - perl ../../Scripts/BuildAndRunTests.pl
