language: cpp
compiler:
  - gcc
install:
  - sudo apt-add-repository -y ppa:canonical-qt5-edgers/qt5-proper
  - sudo apt-get update
  - sudo apt-get install qtdeclarative5-dev
# Change this to your needs
script: ./configure && make
